<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>590565822636-jqtiph8ilb9gi872vn4gc6mv8arjrn4u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.590565822636-jqtiph8ilb9gi872vn4gc6mv8arjrn4u</string>
	<key>API_KEY</key>
	<string>AIzaSyCiFiqdeAGLw6zl7yBI2DJzYNm6K-xPfbw</string>
	<key>GCM_SENDER_ID</key>
	<string>590565822636</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.diaspocare.vendor</string>
	<key>PROJECT_ID</key>
	<string>fir-analytics-5c75e</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-analytics-5c75e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:590565822636:ios:cbc570f3a55b1591a90f09</string>
	<key>DATABASE_URL</key>
	<string>https://fir-analytics-5c75e-default-rtdb.firebaseio.com</string>
</dict>
</plist>